<ion-modal-view> <ion-header-bar>
<h1 class="title">Buscar oponente</h1>
<div class="buttons">
	<button class="button button-clear" ng-click="closeSearch()">Cancelar</button>
</div>
</ion-header-bar> <ion-content>
<div class="list">

	<label class="item-input-wrapper"> <i
		class="icon ion-ios7-search placeholder-icon"></i> <input
		type="search" placeholder="Digite o nome do seu adversário..."
		ng-change="search()" ng-model="data.search">
	</label>
	<div class="list">
		<li class="item" ng-repeat="player in data.players"
			ng-click="selectPlayer('{{player.email}}')">{{player.name}}
			({{player.email}})</li>

	</div>
</ion-content> </ion-modal-view>
